body {
    background-color: #eee;
}

#Collatz {
    height: 200px;
    margin-left: 25px;
    float: left;
    margin-right: 15px;
    border: 3px solid black;
}

#flw {
    height: 500px;
    float: right;
    border: 3px solid black;
}

#kozep {
    text-align: center;
}

ul {
    font-size: large;
    padding-left: 24px ;
    padding-right: 25px;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

p {
    font-size: large;
    padding-left: 24px ;
    padding-right: 25px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

#output {
    margin-top: 20px;
    word-wrap: break-word;
    }