body {
    }

#Collatz {
    height: 200px;
    margin-left: 25px;
    float: left;
    padding-right: 15px;
}

#flw {
    height: 500px;
    float: right;
}

#kozep {
    text-align: center;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

p {
    font-size: large;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

#output {
    margin-top: 20px;
    word-wrap: break-word;
    }